<!-- Extend 'base.html' and put content into a block 'body' to match -->
{% extends 'base.html' %}

{% block title %}
    Gif Search
{% endblock %}
<!-- Make an HTML form containing a search box and a submit button to add
    the search term to the query string -->
{% block content %}
    <h1>
        Search for gifs here!
    </h1>

    <form action ="/">
        <div class="searchBar">
            <header>
                <input type="text" name="search" placeholder="Search...">
                <button type="submit">Submit</button>
            </header>
        </div>
    </form>

<!-- Make a for loop to loop over GIFs passed in from the server -->
<!-- And include 'gif.html' for each one -->
    <div id="gifs">
        {% for gif in first_ten %}
            {% include 'gif.html' %}
        {% endfor %}
    </div>
{% endblock %}
