body {
    background-color: #2f4353;
    background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
    text-align: center;
    font-family: Verdana;
    width: 1510px;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.searchBarStyle {
    color: black;
    border-radius: 5px;
    font-size: 20px;
}

.searchButton {
      color: black;
      border-radius: 10px;
      font-size: 24px;
      cursor: pointer;
}

.otherButtons {
    display: inline-block;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;


}
form {
    display: inline-block;
}

.wrap {
    text-align: center;
    padding: 5px;
}
